<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cicada CI</title>
    <link rel="stylesheet" href="/static/pico.min.css">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/htmx-ext-sse.js"></script>
</head>
<body>
<main class="container">
    <nav>
        <ul><li><strong>Cicada CI</strong></li></ul>
        <ul><li><a href="/builds">Builds</a></li></ul>
    </nav>
    {{block "content" .}}{{end}}
</main>
</body>
</html>
